/**
* Accordeon
*/
.accordeon {
    display: flex;
}

details{
    position:relative;
    transition: 1s ease-in-out;
}

details[open]{
    margin-right: 50px;
    }

summary {
    list-style: none;    
}

div {
    padding-left: 100px;
    width: 100px;
}
